
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/roboto-v48-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/roboto-v48-latin-700.woff2') format('woff2'); 
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0 ;
   list-style: none;
  text-decoration: none;
}
.container{
  max-width: 1215px;
  margin: 0 auto;
}


.site-header{
  padding: 40px 0 13px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav{
 display: flex;
 align-items: center;
 gap:40px;

}
nav > a {
font-family: "Roboto",sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: black;

}

 /* section part start */


.hero-section{
  padding: 70px 0 20px
}
.site-div{
  width: 720px;
}
.site-hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-h1{
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 82.5px;
  letter-spacing: 2px;
  color: black;
}
.section-span{
  color: #FF8A56;
}
.section-p{
  width: 547px;
  font-family: "Roboto",sans-serif;
  margin: 27px 0 38px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0%;
  color: #666666;
}

.section-btns{
  display: flex;
  align-items: center;
  gap:40px
}
.section-btns > button{
  width: 151px;
  height: 58px;
  background-color: black;
   color: white;
}
.section-btns > a{
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  color: black;
 

}
/* section part end  */

/* Trusted by start */
.Trusted-section{
  padding: 77px 0 80px;
}

.Trusted-by{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
    margin-bottom: 47px;
    text-align: center;
}
.Trusted-imgs{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

/* Trusted by end */

/* Services start */

.Services-section1{
  padding: 80px 0;
}
 .container-p{
    width: 227px;
    font-family: "Roboto",sans-serif;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;

 }
.Services-section{
  width: 768px;
  margin: 0 auto;
  text-align: center;
}

.Services{
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  color: #FF5E69;
}
.Services-section > h2{
      margin-top: 16px;
      padding-bottom: 114px;
      font-family: "Roboto",sans-serif;
      font-weight: 700;
      font-size: 54px;
      line-height: 59.4px;
      letter-spacing: 1px;
      text-align: center;

}

.Services-strong{
  display: block;
  margin-top: 39px;
  margin-bottom: 25px;
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 26.4px;
  letter-spacing: 0%;

}
.Design-container{
  display: flex;
  align-items: center;
  gap: 10px;
}
.Design-container > span{
display: inline-block;
width: 7px;
height: 7px;
background-color: black;
}
.Design-container > p {
     font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;

}
.containers-wrapper{
  display: flex;
  justify-content: center;
  gap: 90px;

}
/* Services end */